[x] comment colorizer 
[ ] make capslock =\ the default slidepad one , f+\ can activate slided
[ ] Writing tools ngam
[ ] 
2024-11-10 
[] 
[x] /+f to search floating notesx
- 

[-] improve capslock (tried)
[ ] create universal Wrappe
- might involve defineing TO
[ ] set up a :layer for capslock just like :space-mode