need to make window managementstuff that
[ ] uses native :Tgrave_accent_and_tilde
[ ] uses Context (change ⌥+tab because interferes with tab navigate
[ ] btt btt://trigger_named/?trigger_name=prev-window
Other
- 


can do... [:!SRc :rayfetti] ;;! !!c works


kev for karbainer event viewer
osk for Onscreen Keyboard Overlay
r+v for raycast clipboard
r+v for Raycast Clipboard History
k+c Activate Named Clipboard Switcher 

	;;* SNL snippets lab toggle assistant
	;;* SNL snippets lab toggle assistant
    Marked: Activate Marked
    Apple Notes: Quick Note
    Notion: Notion AI
    Notion: Command Search
    Fantastical: Mini Window
    raycast://extensions/raycast/clipboard-history/clipboard-history
    raycast://extensions/raycast/navigation/search-menu-items
    FS Notes
    '/System/Applications/iPhone Mirroring.app'
    /Applications/MacVim.app
    /Applications/PowerPhotos.
    /Applications/Quiver.app
    '/Applications/Setapp/KeyKey Typing Tutor.app'
     '/Applications/Setapp/Keep It Shot.app'
     /Applications/Setapp/MarginNote.app
     /Applications/Setapp/Novabench.
     
     '/Applications/Setapp/Path Finder.app'/Applications/Setapp/Receipts.app


     {:des "Right Shift" :rules [ :R⇧µ
	;;* works! note that you have to...
	;;* works1
	;;* works1
	;;* works1
	;;* works1
	;;* works1
	;; TODO (NEWKEY MODE)
	]}
