# new.edn (for quickly noting changes to review)
2024-11-24 
removed: ;; rehome [:delete_or_backspace [:btt "raycast-todo-menuapp"] ] ;;• d+0 for Raycast todo works	
;;! disabled tab mode but had to switch ⇥µ to F13 to avoid changing the name everywhere else...
;;todo checking to see if 
    [[:k :e :b] [:open "sidenotes://open/3E171B3A-03F6-4C24-A5C7-4053172BC106"]]
    [:!SCspacebar [:open "raycast://extensions/raycast/snippets/search-snippets"]] ;;• .+⇧⌘+space for Raycast Snippet Search

# TODO
[ ] work on Hyper mode vscode://file/Users/loudog/Sync/config.files/Karabiner/karabiner.edn:313
[ ] take a look at /+s slidepad stuff vscode://file/Users/loudog/Sync/config.files/Karabiner/karabiner.edn:507
[ ] visit slash mode and organize CRUD stuff


# 2024-11-10 
adding xxx+tab for window commands
- r+tab raycast://extensions/raycast/navigation/switch-windows
- space+tab 
xxx+p for search
xxx+k 
xxx+tab or ` for windows

# 2024-11-07 
- raycast notes url learning (passes uses json array object as "context" parameter value)
- new raycast rules `fln`, sfln, fnow
2024-11-07 
raycast://extensions/raycast/raycast-notes/raycast-notes?context=%7B%22id%22:%22628EB8FA-1D86-4881-9154-21CB25F2F1AB%22%7D

11/06/24
[:period [:km "BetterTouchTool: Show Menu Bar in Context Menu"]] ;;• b+. for menu context menu 

2024-11-05
[:spacebar [:open "raycast://extensions/raycast/raycast/search-quicklinks"]]
'3'3
2024-10-31
		[[:b :e :a :r] [:open "/Applications/Bear.app"]]
		[[:t :a :s :k :p] [:open "/Applications/Setapp/TaskPaper.app"]]
		[[:t :e :i] [:open "/Applications/TextEdit.app"]]
        [[:k :r :b][:open "raycast://extensions/lucaschultz/karabiner-profile-switcher/index"]] ;;* krb switch Karabiner profile


2024-10-24
[:k [:run "open -a Marked /Users/loudog/Sync/config.files/Karabiner/karabiner.edn"] ] ;;• /+q to Search Quick Links via Raycast
trying out moving simultanious keys to their modes

92024-10-23 
✨ f+s to focus left sidebar (common command)
- to add to other macro groups, create a command named "© Focus Left Sidebar"  and alias it to the actual command

added f+1 focus for backwards compatablity
[ ] now adding left command + left command

learned that "sleep 1" pasues shell script for 1 second so probably why it w
need to make window managementstuff that
[ ] uses native :Tgrave_accent_and_tilde
[ ] uses Context (change ⌥+tab because interferes with tab navigate
[ ] btt btt://trigger_named/?trigger_name=prev-window
Other
- 


can do... [:!SRc :rayfetti] ;;! !!c works


kev for karbainer event viewer
osk for Onscreen Keyboard Overlay
r+v for raycast clipboard
r+v for Raycast Clipboard History
k+c Activate Named Clipboard Switcher 

	;;* SNL snippets lab toggle assistant
	;;* SNL snippets lab toggle assistant
    Marked: Activate Marked
    Apple Notes: Quick Note
    Notion: Notion AI
    Notion: Command Search
    Fantastical: Mini Window
    raycast://extensions/raycast/clipboard-history/clipboard-history
    raycast://extensions/raycast/navigation/search-menu-items
    FS Notes
    '/System/Applications/iPhone Mirroring.app'
    /Applications/MacVim.app
    /Applications/PowerPhotos.
    /Applications/Quiver.app
    '/Applications/Setapp/KeyKey Typing Tutor.app'
     '/Applications/Setapp/Keep It Shot.app'
     /Applications/Setapp/MarginNote.app
     /Applications/Setapp/Novabench.
     
     '/Applications/Setapp/Path Finder.app'/Applications/Setapp/Receipts.app


     {:des "Right Shift" :rules [ :R⇧µ
	;;* works! note that you have to...
	;;* works1
	;;* works1
	;;* works1
	;;* works1
	;;* works1
	;; TODO (NEWKEY MODE)
	]}
