# new.edn (for quickly noting changes to review)

# TODO
[ ] work on Hyper mode vscode://file/Users/loudog/Sync/config.files/Karabiner/karabiner.edn:313
[ ] take a look at /+s slidepad stuff vscode://file/Users/loudog/Sync/config.files/Karabiner/karabiner.edn:507
[ ] visit slash mode and organize CRUD stuff

2024-10-31
		[[:b :e :a :r] [:open "/Applications/Bear.app"]]
		[[:t :a :s :k :p] [:open "/Applications/Setapp/TaskPaper.app"]]
		[[:t :e :i] [:open "/Applications/TextEdit.app"]]
        [[:k :r :b][:open "raycast://extensions/lucaschultz/karabiner-profile-switcher/index"]] ;;* krb switch Karabiner profile


2024-10-24
[:k [:run "open -a Marked /Users/loudog/Sync/config.files/Karabiner/karabiner.edn"] ] ;;• /+q to Search Quick Links via Raycast
trying out moving simultanious keys to their modes

92024-10-23 
✨ f+s to focus left sidebar (common command)
- to add to other macro groups, create a command named "© Focus Left Sidebar"  and alias it to the actual command

added f+1 focus for backwards compatablity
[ ] now adding left command + left command

learned that "sleep 1" pasues shell script for 1 second so probably why it w
need to make window managementstuff that
[ ] uses native :Tgrave_accent_and_tilde
[ ] uses Context (change ⌥+tab because interferes with tab navigate
[ ] btt btt://trigger_named/?trigger_name=prev-window
Other
- 


can do... [:!SRc :rayfetti] ;;! !!c works


kev for karbainer event viewer
osk for Onscreen Keyboard Overlay
r+v for raycast clipboard
r+v for Raycast Clipboard History
k+c Activate Named Clipboard Switcher 

	;;* SNL snippets lab toggle assistant
	;;* SNL snippets lab toggle assistant
    Marked: Activate Marked
    Apple Notes: Quick Note
    Notion: Notion AI
    Notion: Command Search
    Fantastical: Mini Window
    raycast://extensions/raycast/clipboard-history/clipboard-history
    raycast://extensions/raycast/navigation/search-menu-items
    FS Notes
    '/System/Applications/iPhone Mirroring.app'
    /Applications/MacVim.app
    /Applications/PowerPhotos.
    /Applications/Quiver.app
    '/Applications/Setapp/KeyKey Typing Tutor.app'
     '/Applications/Setapp/Keep It Shot.app'
     /Applications/Setapp/MarginNote.app
     /Applications/Setapp/Novabench.
     
     '/Applications/Setapp/Path Finder.app'/Applications/Setapp/Receipts.app


     {:des "Right Shift" :rules [ :R⇧µ
	;;* works! note that you have to...
	;;* works1
	;;* works1
	;;* works1
	;;* works1
	;;* works1
	;; TODO (NEWKEY MODE)
	]}
