# improving caps
;; CAPSLOCK MODE (✅ full) ===============
{:des "capslock mode" :rules [ ;;*= CAPSLOCK MODE =======================
        ;; homerow keyboard
        [:#TOWERQb :caps_lock :capslock-mode]        ;;• capslock+b for caps lock
        [:!Fb :rayfetti :capslock-mode]              ;;• capslock+b for caps lock
        ; jlik for ←↑→↓ (left/right/up/down arrows)
        [:##j :left_arrow  :capslock-mode]           ;;• capslock+j for ←
        [:##l :right_arrow :capslock-mode]           ;;• capslock+l for →
        [:##i :up_arrow    :capslock-mode]           ;;• capslock+i for ↑
        [:##k :down_arrow  :capslock-mode]           ;;• capslock+k for ↓
        ; capslock+;/o/u/p/h/y for non-text characters (↩⇥, delete, page up/down)
        [:##semicolon :return_or_enter :capslock-mode] ;;* capslock+return for ↩
        [:#QWERo :tab :capslock-mode]                ;;* capslock+u for tab (QWER so can to window management)
        [:#QWERu :!Stab :capslock-mode]              ;;* capslock+u for ⇧+tab
        [:##p :delete_or_backspace :capslock-mode]   ;;* capslock+p for delete
        [:##y :page_up :capslock-mode]               ;;* capslock+y for page up
]}


        :capslock-mode {:key :caps_lock                ;;* caps lock layer (capslock-mode)
                :condi [:!f& :!d& :!c& :!k& :!w&
                :!Rctrl-mode :!LCMD :!tildeµ :!quote-mode :!fslashµ :!.µ :!↩µ]
                } ; prevents caps lock mode from overriding F and D modes 



want to try this function layer thing... 
# Function Layer Mode
 {:des "Function layer"
         :rules [
                 [:caps_lock ["func-layer" 1] :devicekb {:afterup ["func-layer" 0] :alone :escape}]
                 [:1                   [:f1]                    ["func-layer" 1]]
                 [:2                   [:f2]                    ["func-layer" 1]]
                 [:3                   [:f3]                    ["func-layer" 1]]
                 [:4                   [:f4]                    ["func-layer" 1]]
                 [:5                   [:f5]                    ["func-layer" 1]]
                 [:6                   [:f6]                    ["func-layer" 1]]
                 [:7                   [:f7]                    ["func-layer" 1]]
                 [:8                   [:f8]                    ["func-layer" 1]]
                 [:9                   [:f9]                    ["func-layer" 1]]
                 [:0                   [:f10]                   ["func-layer" 1]]
                 [:hyphen              [:f11]                   ["func-layer" 1]]
                 [:equal_sign          [:f12]                   ["func-layer" 1]]
                 [:delete_or_backspace [:delete_forward]        ["func-layer" 1]]

                 [:caps_lock           [:caps_lock]             ["func-layer" 1]]
                 [:q                   [:rewind]                ["func-layer" 1]]
                 [:w                   [:play_or_pause]         ["func-layer" 1]]
                 [:e                   [:fastforward]           ["func-layer" 1]]
                 [:y                   [:home]                  ["func-layer" 1]]
                 [:u                   [:page_down]             ["func-layer" 1]]
                 [:i                   [:page_up]               ["func-layer" 1]]
                 [:o                   [:end]                   ["func-layer" 1]]
                 [:p                   [:print_screen]          ["func-layer" 1]]

                 [:s                   [:left_arrow]            ["func-layer" 1]]
                 [:d                   [:up_arrow]              ["func-layer" 1]]
                 [:f                   [:down_arrow]            ["func-layer" 1]]
                 [:g                   [:right_arrow]           ["func-layer" 1]]
                 [:h                   [:left_arrow]            ["func-layer" 1]]
                 [:j                   [:down_arrow]            ["func-layer" 1]]
                 [:k                   [:up_arrow]              ["func-layer" 1]]
                 [:l                   [:right_arrow]           ["func-layer" 1]]

                 [:spacebar            [:mute]                  ["func-layer" 1]]
                 [:right_shift         [:play_or_pause]         ["func-layer" 1]]
                 [:left_arrow          [:rewind]                ["func-layer" 1]]
                 [:right_arrow         [:fastforward]           ["func-layer" 1]]
                 [:up_arrow            [:volume_up]             ["func-layer" 1]]
                 [:down_arrow          [:volume_down]           ["func-layer" 1]]
                 ]}